# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [ ]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal=pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [ ]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40409 entries, 0 to 40408
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                40409 non-null  int64
 1   EmployeeName      40409 non-null  object
 2   JobTitle          40409 non-null  object
 3   BasePay           40408 non-null  float64
 4   OvertimePay       40408 non-null  float64
 5   OtherPay          40408 non-null  float64
 6   Benefits          4249 non-null   float64
 7   TotalPay          40408 non-null  float64
 8   TotalPayBenefits  40408 non-null  float64
 9   Year              40408 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            40408 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.0+ MB

**What is the average BasePay ?**

In [ ]:
sal['BasePay'].mean()

71096.6857775688

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal2=sal[sal["EmployeeName"]=='JOSEPH DRISCOLL']
print(sal2['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
sal3=sal[sal["EmployeeName"]=='JOSEPH DRISCOLL']
print(sal3['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [ ]:
highest_pay=sal["TotalPayBenefits"].max()
sal1= sal[sal['TotalPayBenefits']==highest_pay]
sal1

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
lowest_pay=sal["TotalPayBenefits"].min()
sal4= sal[sal['TotalPayBenefits']==lowest_pay]
sal4

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
subsal1=sal.groupby('Year')['BasePay'].mean()
print(subsal1)

Year
2011.0     63595.956517
2012.0    134927.909440
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [ ]:
count=sal["JobTitle"].unique()
print(len(count))

1284

** What are the top 5 most common jobs? **

In [ ]:
print(sal["JobTitle"].value_counts().head(5))

TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
CUSTODIAN            796
FIREFIGHTER          794
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [1]:
subsal1 = sal[sal['Year']==2013]
subsal2=subsal1['JobTitle'].value_counts()
subsal3=subsal2[subsal2==1]
print(len(subsal3))

NameError: ignored

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
num=sal[sal["JobTitle"].str.contains('chief',case=False)==1]
print(len(num))

291

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal["TitleLength"]=sal["JobTitle"].apply(len)
subsal=pd.DataFrame(sal["TitleLength"])
subsal["TotalPayBenefits"]=sal["TotalPayBenefits"]
print(subsal.corr())

                  TitleLength  TotalPayBenefits
TitleLength          1.000000         -0.044838
TotalPayBenefits    -0.044838          1.000000

# Great Job!