# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [5]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [7]:
df = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [8]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [17]:
df.BasePay.mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [18]:
df.OvertimePay.max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [7]:
#df2=df.loc[df[EmployeeName]==JOSEPH DRISCOLL,'JobTitle']
#df2=df.loc[df['EmployeeName'] == JOSEPH DRISCOLL, 'JobTitle']item()
#df2=df.query('EmployeeName==JOSEPH DRISCOLL')['JobTitle']
#df[df['EmployeeName']=='JOSEPH DRISCOLL']
df.loc[df['EmployeeName']=="JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [8]:
df.loc[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [10]:
alpha = df.TotalPayBenefits.max()
df.loc[df['TotalPayBenefits']==alpha]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
beta = df.TotalPayBenefits.min()
df.loc[df['TotalPayBenefits']==beta]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [32]:
df2=df.loc[df['Year']==2011]
df3=df.loc[df['Year']==2012]
df4=df.loc[df['Year']==2013]
df5=df.loc[df['Year']==2014]
print(2011  ,df2.BasePay.mean())
print(2012  ,df3.BasePay.mean())
print(2013  ,df4.BasePay.mean())
print(2014  ,df5.BasePay.mean())

2011 63595.95651677314
2012 65436.40685742263
2013 69630.03021648065
2014 66564.42192449959

** How many unique job titles are there? **

In [5]:
df['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [39]:
counts = df['JobTitle'].value_counts()
sorted_counts = counts.sort_values(ascending=False)
sorted_counts.head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [40]:
anything = df[df['Year']==2013]
anything2=anything['JobTitle'].value_counts()
anything3=anything2[anything2==1]
print(len(anything3))

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [38]:
Filtered = df[df['JobTitle'].str.contains('Chief')]
#print(Filtered)
Data = pd.DataFrame(Filtered)
#print(Data)
len(Data)

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [5]:
df['TitleLength']=df['JobTitle'].apply(len)
something = pd.DataFrame(df['TitleLength'])
something['TotalPayBenefits']=df['TotalPayBenefits']
print(something.corr())

                  TitleLength  TotalPayBenefits
TitleLength          1.000000         -0.036878
TotalPayBenefits    -0.036878          1.000000

# Great Job!