# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal=pd.read_csv('Salaries (1).csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30362 entries, 0 to 30361
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                30362 non-null  int64
 1   EmployeeName      30361 non-null  object
 2   JobTitle          30361 non-null  object
 3   BasePay           30361 non-null  float64
 4   OvertimePay       30361 non-null  float64
 5   OtherPay          30361 non-null  float64
 6   Benefits          0 non-null      float64
 7   TotalPay          30361 non-null  float64
 8   TotalPayBenefits  30361 non-null  float64
 9   Year              30361 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            30361 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 3.0+ MB

**What is the average BasePay ?**

In [9]:
sal['BasePay'].mean()

74696.90481835249

** What is the highest amount of OvertimePay in the dataset ? **

In [10]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [13]:
xoy=sal.loc[sal['EmployeeName']=='JOSEPH DRISCOLL']
xoy['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [14]:
xoy['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [17]:
pay=sal.iloc[:,8]
mxval=pay.min()
print(sal[sal['TotalPayBenefits']==mxval])

          Id  EmployeeName      JobTitle  BasePay  OvertimePay  OtherPay  \
30360  30361  SU QING CHEN  LIBRARY PAGE  14604.0          0.0     78.22

       Benefits  TotalPay  TotalPayBenefits    Year  Notes         Agency  \
30360       NaN  14682.22          14682.22  2011.0    NaN  San Francisco

       Status
30360     NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [23]:
lowest_paid_index = sal['TotalPayBenefits'].idxmin()
lowest_paid_person = sal.loc[lowest_paid_index].to_frame().T

print(lowest_paid_person)

          Id  EmployeeName      JobTitle  BasePay OvertimePay OtherPay  \
30360  30361  SU QING CHEN  LIBRARY PAGE  14604.0         0.0    78.22

      Benefits  TotalPay TotalPayBenefits    Year Notes         Agency Status
30360      NaN  14682.22         14682.22  2011.0   NaN  San Francisco    NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [26]:
yok=sal.groupby('Year')
yok['BasePay'].mean()

Year
2011.0    74696.904818
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [28]:
sal['JobTitle'].nunique()

1026

** What are the top 5 most common jobs? **

In [29]:
arr=sal['JobTitle'].value_counts(ascending=False)
arr[:5]

TRANSIT OPERATOR      2063
REGISTERED NURSE      1188
SPECIAL NURSE          834
FIREFIGHTER            786
POLICE OFFICER III     771
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [32]:
unique_count=sal[sal['Year']==2013]['JobTitle'].value_counts()
c=(unique_count==1).sum()
print(c)

0

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [35]:
sal['JobTitle'].str.contains('Chief', case=False).sum()

199

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [30]:
sal['title_len']=sal['JobTitle'].str.len()
correlation=sal[['title_len','TotalPayBenefits']].corr()
print(correlation)

                  title_len  TotalPayBenefits
title_len          1.000000          0.106821
TotalPayBenefits   0.106821          1.000000

# Great Job!